@font-face {
  font-family: "serif-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PTSerifBold/PTSerifBold.eot");
  src: url("../fonts/PTSerifBold/PTSerifBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerifBold/PTSerifBold.woff") format("woff"), url("../fonts/PTSerifBold/PTSerifBold.ttf") format("truetype"); }

@font-face {
  font-family: "open-bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype"); }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }
